{
    "rules": {
        "indent": [
            2,
            4
        ],
        "quotes": [
            2,
            "double"
        ],
        "linebreak-style": [
            2,
            "unix"
        ],
        "semi": [
            2,
            "always"
        ],
        "strict":2,
        "promise/param-names": 2,
        "promise/always-return": 2,
        "promise/catch-or-return": 2,
        "promise/no-native": 2,
    },
    "env": {
        "node": true,
        "mocha": true,
        "es6": true,
    },
    "extends": "eslint:recommended",
    "plugins": [
        "promise"
    ]
}